<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Insurance Prediction</title>
    <!-- Corrected the CSS path -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Vehicle Insurance Prediction</h1>

        <form method="post" action="/">
            <label for="id">Id:</label>
            <input type="number" id="id", name="id" required>

            <label for="Gender">Gender (Male, Female):</label>
            <input type="text" id="Gender" name="Gender" required>

            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" required>

            <label for="Driving_License">Driving License ("0" for No,"1" for Yes):</label>
            <input type="number" id="Driving_License" name="Driving_License" required>

            <label for="Region_Code">Region Code: number</label>
            <input type="number" step="0.01" id="Region_Code" name="Region_Code" required>

            <label for="Previously_Insured">Previously Insured ("0" for No, "1" for Yes):</label>
            <input type="number" id="Previously_Insured" name="Previously_Insured" required>

            <label for="Vehicle_Age">Vehicle Age Type: "< 1 Year" OR "1-2 Year":</label>
            <select id="Vehicle_Age" name="Vehicle_Age" required>
                <option value="< 1 Year">< 1 Year</option>
                <option value="1-2 Year">1-2 Year</option>
                <option value="> 2 Years">> 2 Years</option>
            </select>

            <label for="Vehicle_Damage">Vehicle Damage Type Only(No,Yes):</label>
            <input type="text" id="Vehicle_Damage" name="Vehicle_Damage" required>

            <label for="Annual_Premium">Annual Premium:</label>
            <input type="number" step="0.01" id="Annual_Premium" name="Annual_Premium" required>

            <label for="Policy_Sales_Channel">Policy Sales Channel:</label>
            <input type="number" step="0.01" id="Policy_Sales_Channel" name="Policy_Sales_Channel" required>

            <label for="Vintage">Vintage:</label>
            <input type="number" id="Vintage" name="Vintage" required>


            <button type="submit">Predict</button>
        </form>

        <form method="get" action="/train">
            <button type="submit" class="train-button">Train Model</button>
        </form>

        {% if context %}
            <div class="result">
                <h2>Result: {{ context }}</h2>
            </div>
        {% endif %}
    </div>
</body>
</html>